* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

p {
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;

}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: rgb(33, 34, 34);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #87d88b;
}

#total {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}